
<div *ngIf="loaderService.isLoading | async" class="loader-container">
    <mat-progress-bar color="accent" mode="indeterminate"></mat-progress-bar>
</div>
<mat-toolbar color="primary">
    
    <a routerLink="/" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
    </a>
    <span>Calibration</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedin" [routerLink]="'/login'" mat-icon-button class="example-icon mx-10">
        Login
    </a>
    <a *ngIf="!isLoggedin" [routerLink]="'/signup'" mat-icon-button class="example-icon mx-10">
        Register
    </a>

    <a *ngIf="isLoggedin" (click)="logout()"  mat-icon-button class="example-icon mx-10">
        Logout
    </a>
    <a *ngIf="isLoggedin" routerLink="/admin/profile"  mat-button class="example-icon mx-10">
       Hi, {{user.username}}
    </a>
</mat-toolbar>