<div class="bootstrap-wrapper">
    <div class="continer-fluid">
        <mat-card>
          <div class="mat-toolbar-single-row">
            <h1>Calibration Details</h1>  
            <span class="spacer"></span>
            <a mat-stroked-button color="primary" (click)="onEditCalibration(calibrationDetails)" title="Edit">
              <mat-icon>edit</mat-icon>
              <span>Edit</span>
            </a>
          </div>
            
                <div class="row">
                    <div class="col-md-2"><label>Date:</label></div>
                    <div class="col-md-4">{{calibrationDetails.dateOfCalibration | date: 'dd/MM/yyyy'}}</div>
                
                    <div class="col-md-2"><label>Log No:</label></div>
                    <div class="col-md-4">{{calibrationDetails.logno||"--" }}</div>
                </div> 
                <div class="row">
                    <div class="col-md-2"><label>Referance:</label></div>
                    <div class="col-md-4">{{calibrationDetails.refNo||"--" }}</div>
                
                    <div class="col-md-2"><label>Remark:</label></div>
                    <div class="col-md-4">{{calibrationDetails.remark||"--" }}</div>
                </div> 
                <div class="row">
                    <div class="col-md-2"><label>Is External:</label></div>
                    <div class="col-md-4">{{calibrationDetails.isExternal?'Yes':'No' }}</div>
                
                    <div class="col-md-2"><label>Calibration Agency:</label></div>
                    <div class="col-md-4">{{calibrationDetails.calibrationAgency?calibrationDetails.calibrationAgency.name:'--' }}</div>
                </div> 
                <div class="row">
                    <div class="col-md-2"><label>Done By:</label></div>
                    <div class="col-md-4">{{calibrationDetails.doneBy||"--" }}</div>
                
                    <div class="col-md-2"><label>Instrument Code:</label></div>
                    <div class="col-md-4">{{calibrationDetails.instrumentMaster.code||"--" }}</div>
                </div> 
                <div class="row">
                  <div class="col-md-2"><label>Completion Date:</label></div>
                  <div class="col-md-4">{{calibrationDetails.calibrationCompletedDate | date: 'dd/MM/yyyy'}}</div>
              
              </div> 
                <div class="row">
                    <div class="col-md-2"><label>Description:</label></div>
                    <div class="col-md-10">{{calibrationDetails.description||"--" }}</div>
                </div> 
        </mat-card>  
        <hr>
        <mat-card>
            <!-- <h3 class="text-center">Parameters</h3> -->
            <div class="mat-toolbar-single-row">
                <button mat-button color="primary" (click)="onCreate()">Add New Parameter</button>
            </div>  
            <div class="table-container">
        
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" >
            
                <!-- Name Column -->
                <ng-container matColumnDef="parameter">
                  <th mat-header-cell *matHeaderCellDef> Parameter</th>
                  <td mat-cell *matCellDef="let element"> 
                      <a mat-icon-button  color="primary" (click)="onEdit(element)">{{element.parameter}}</a>
                      
                     </td>
                </ng-container>
              
                <!-- Weight Column -->
                <ng-container matColumnDef="uom">
                  <th mat-header-cell *matHeaderCellDef> Unit of Measure </th>
                  <td mat-cell *matCellDef="let element"> {{element.uom}} </td>
                </ng-container>
              
                <!-- Symbol Column -->
                <ng-container matColumnDef="accuracy">
                  <th mat-header-cell *matHeaderCellDef> Accuracy </th>
                  <td mat-cell *matCellDef="let element"> {{element.accuracy}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="value">
                  <th mat-header-cell *matHeaderCellDef> Value </th>
                  <td mat-cell *matCellDef="let element"> {{element.value}} </td>
                </ng-container>
                <!-- Symbol Column -->
                <ng-container matColumnDef="observation1">
                  <th mat-header-cell *matHeaderCellDef> Observation 1 </th>
                  <td mat-cell *matCellDef="let element"> {{element.observation1}} </td>
                </ng-container>

                <!-- Symbol Column -->
                <ng-container matColumnDef="observation2">
                    <th mat-header-cell *matHeaderCellDef> Observation 2 </th>
                    <td mat-cell *matCellDef="let element"> {{element.observation2}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                <ng-container matColumnDef="observation3">
                    <th mat-header-cell *matHeaderCellDef> Observation 3 </th>
                    <td mat-cell *matCellDef="let element"> {{element.observation3}} </td>
                  </ng-container>

                  <!-- Symbol Column -->
                <ng-container matColumnDef="observationText">
                    <th mat-header-cell *matHeaderCellDef> Observation Text </th>
                    <td mat-cell *matCellDef="let element"> {{element.observationText}} </td>
                  </ng-container>
          
                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef> Actions </th>
                  <td mat-cell *matCellDef="let element">
                    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                      <mat-icon>more_vert</mat-icon>
                    </button>
                    <mat-menu #menu="matMenu">
                      <button mat-menu-item (click)="onEdit(element)">
                        <mat-icon>edit</mat-icon>
                        <span>Edit</span>
                      </button>
                      <button mat-menu-item (click)="deleteRecord(element)">
                        <mat-icon>delete</mat-icon>
                        <span>Delete</span>
                      </button>
                    </mat-menu>
          
                  </td>
                </ng-container>
                <ng-container matColumnDef="loading">
                  <mat-footer-cell *matFooterCellDef colspan="4">
                    Loading data...
                  </mat-footer-cell>
                </ng-container>
          
                <ng-container matColumnDef="nodata">
                  <mat-footer-cell *matFooterCellDef colspan="4">
                    No data.
                  </mat-footer-cell>
                </ng-container>
              
                <tr mat-header-row *matHeaderRowDef="columnList"></tr>
                <tr mat-row *matRowDef="let row; columns: columnList;"></tr>
                
                <tr mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></tr>
                <tr mat-footer-row *matFooterRowDef="['nodata']" [ngClass]="{'hide':!(dataSource!=null && total==0)}"></tr>
              </table>
              </div>
              
        </mat-card>
    </div>
</div>

