
        <form  (ngSubmit)="formSubmit()">
            <mat-dialog-content class="bootstrap-wrapper mat-typography">
                <div class="container-fluid">
            <div class="row">
                <div class="col-md-6">
                    <!-- <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Instrument</mat-label>
                        <mat-select required name="instrumentMaster" [(ngModel)]="instrumentCalibration.instrumentMaster.id">
                            <mat-option *ngFor="let instrumentType of instrumentTypes" [value]="instrumentType.id">
                              {{instrumentType.shortName}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field> -->
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Instrument</mat-label>
                        <input required type="text"
                               placeholder="Pick one"
                               aria-label="Instrument"
                               name="instrumentMaster" #instrumentMaster="ngModel" [(ngModel)]="instrumentCalibration.instrumentMaster"
                               (input)="instrumentChange($event)"
                               matInput
                               [matAutocomplete]="auto">
                        <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn">
                          <mat-option *ngFor="let option of instruments " [value]="option" >{{option.code}}</mat-option>
                        </mat-autocomplete>
                        <mat-error *ngIf="instrumentMaster.touched && !instrumentMaster.valid">
                        <mat-error *ngIf="instrumentMaster.errors.required">Please Select any instrument</mat-error>
                    </mat-error>
                      </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Log No</mat-label>
                        <input   matInput placeholder="Log No" name="logno" [(ngModel)]="instrumentCalibration.logno">
                        
                    </mat-form-field>
                </div>
            </div>
           
           
        
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Referance No.</mat-label>
                        <input required  matInput placeholder="make" name="refNo" #refNo="ngModel" [(ngModel)]="instrumentCalibration.refNo">
                        <mat-error *ngIf="refNo.touched && !refNo.valid">
                      <mat-error *ngIf="refNo.errors.required">Please mention reference number</mat-error>
                    </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Date</mat-label>
                        <input readonly matInput [max]="maxDate"  [matDatepicker]="picker" name="dateOfCalibration" [(ngModel)]="instrumentCalibration.dateOfCalibration">
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Remark</mat-label>                        
                        <input type="text"   matInput placeholder="Remark" name="remark" [(ngModel)]="instrumentCalibration.remark">
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Calibration Completion Date</mat-label>
                        <input readonly matInput   [matDatepicker]="picker2" name="calibrationCompletedDate" [(ngModel)]="instrumentCalibration.calibrationCompletedDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                    </mat-form-field>
                </div>
               
            </div>

            <div class="row">
                <div class="col-md-6">
                    <!-- <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Is External</mat-label>

                        <input required  matInput placeholder="whereUsed" name="isExternal" [(ngModel)]="instrumentCalibration.isExternal">
                    </mat-form-field> -->
                    <mat-checkbox class="example-margin" name="isExternal" [(ngModel)]="instrumentCalibration.isExternal">Is External ?</mat-checkbox>
                </div>
               
            </div>

           

           
            <div class="row" *ngIf="instrumentCalibration.isExternal">
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Calibration Agency</mat-label>
                        <mat-select  name="calibrationAgency" [(ngModel)]="instrumentCalibration.calibrationAgency.id">
                            <mat-option *ngFor="let agency of calibrationAgencies" [value]="agency.id">
                              {{agency.name}}
                            </mat-option>
                          </mat-select>
                    </mat-form-field>
                </div>
                <div class="col-md-6">
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Done By</mat-label>
                        <input  matInput placeholder="Done by" name="doneBy" [(ngModel)]="instrumentCalibration.doneBy">
                    </mat-form-field>
                </div>
               
            </div>
        
        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
                <button type="submit" mat-raised-button color="primary">Save</button>
                &nbsp; &nbsp;
                    <button type="button" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
                </mat-dialog-actions>
        </form>
  
