<form class="col-md-8 offset-md-2" (ngSubmit)="formSubmit()">
    <mat-dialog-content class="bootstrap-wrapper mat-typography">
        <div class="container-fluid">
            <div class="row">
                <mat-form-field class="col-md-3" appearance="outline">
                    <mat-label>Parameter</mat-label>
                    <input required maxlength="30" matInput placeholder="Parameter" name="parameter"
                        [(ngModel)]="parameter.parameter">
                </mat-form-field>

                <mat-form-field class="col-md-3" appearance="outline">
                    <mat-label>Unit of Measure</mat-label>
                    <mat-select required name="uom" [(ngModel)]="parameter.uom">
                        <mat-option *ngFor="let unit of units" [value]="unit.name">
                            {{unit.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field class="col-md-3" appearance="outline">
                    <mat-label>Accuracy</mat-label>
                    <input required maxlength="30" matInput placeholder="Accuracy" name="accuracy"
                        [(ngModel)]="parameter.accuracy">

                </mat-form-field>
                <mat-form-field class="col-md-3" appearance="outline">
                    <mat-label>Value</mat-label>
                    <input required maxlength="30" matInput placeholder="Value" name="value"
                        [(ngModel)]="parameter.value">

                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field class="col-md-4" appearance="outline">
                    <mat-label>Observation 1</mat-label>
                    <input required maxlength="30" matInput placeholder="Observation" name="observation1"
                        [(ngModel)]="parameter.observation1">
                </mat-form-field>

                <mat-form-field class="col-md-4" appearance="outline">
                    <mat-label>Observation 2</mat-label>
                    <input required maxlength="30" matInput placeholder="Observation" name="observation2"
                        [(ngModel)]="parameter.observation2">
                </mat-form-field>

                <mat-form-field class="col-md-4" appearance="outline">
                    <mat-label>Observation 3</mat-label>
                    <input required maxlength="30" matInput placeholder="Observation" name="observation3"
                        [(ngModel)]="parameter.observation3">
                </mat-form-field>
            </div>


            <div class="row">
                <mat-form-field class="col-md-12" appearance="outline">
                    <mat-label>Observation Text</mat-label>
                    <input required maxlength="30" matInput placeholder="Observation Text" name="observationText"
                        [(ngModel)]="parameter.observationText">
                </mat-form-field>
            </div>

        </div>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button type="submit" mat-raised-button color="primary">Save</button>
        &nbsp; &nbsp;
        <button type="button" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    </mat-dialog-actions>
</form>