<app-navbar></app-navbar>

<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <mat-card class="my-20">
                <div class="container text-center">
                    <img src="../../../assets/images/calibrate.png" alt="Logo">
                </div>
                <h1 class="text-center">Login Here!!</h1>
                <form [formGroup]="login.form" (ngSubmit)="formSubmit()" >
                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Username</mat-label>
                        <input  maxlength="30" minlength="5" required matInput placeholder="Username" name="username" formControlName="username">
                        <mat-error *ngIf="login.form.controls['username'].errors?.required">Please enter username</mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input type="password" formControlName="password" required matInput placeholder="Password" name="password" >
                        
                        <mat-error *ngIf="login.form.controls['password'].errors?.required">Please enter password</mat-error>
                    </mat-form-field>

                    <div class="container text-center">
                        <button type="submit" mat-raised-button color="primary" [disabled]="login.form.invalid">Login</button>
                        &nbsp; &nbsp;
                            <button type="button" mat-raised-button color="accent" (click)="clearForm()" >Clear</button>
                    </div>
                    
                </form>
            </mat-card>
            </div>
        </div>
    </div>
</div>