<form class="col-md-6 offset-md-3" (ngSubmit)="formSubmit()">
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Parameter</mat-label>
        <input required maxlength="30"  matInput placeholder="Parameter" name="parameter" [(ngModel)]="parameter.parameter">
        
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Unit of Measure</mat-label>
        <mat-select required name="parameterUom" [(ngModel)]="parameter.parameterUom">
            <mat-option *ngFor="let unit of units" [value]="unit.name">
              {{unit.name}}
            </mat-option>
          </mat-select>
    </mat-form-field>

    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Accuracy</mat-label>
        <input required maxlength="30"  matInput placeholder="Accuracy" name="accuracy" [(ngModel)]="parameter.accuracy">
        
    </mat-form-field>

    <div class="container text-center">
        <button type="submit" mat-raised-button color="primary">Save</button>
        &nbsp; &nbsp;
            <button type="button" mat-raised-button color="accent" (click)="onClose()">Cancel</button>
    </div>
</form>