<mat-card>
    <mat-action-list>
        <div mat-subheader>Menu</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon  mat-list-icon>home</mat-icon> Home
        </button>
        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon> Profile
        </button>
        <button  mat-list-item  routerLink="/admin/company">
            <mat-icon  mat-list-icon >toc</mat-icon> Company
        </button>
        <button  mat-list-item  routerLink="/admin/instrument-type-master">
            <mat-icon  mat-list-icon >toc</mat-icon> Instrument Type Master
        </button>
        <button mat-list-item routerLink="/admin/instrument-master">
            <mat-icon mat-list-icon>thermostat</mat-icon> Instrument Master
        </button>
        <button mat-list-item routerLink="/admin/instrument-calibration">
            <mat-icon mat-list-icon>compass_calibration</mat-icon> Instrument Calibration
        </button>
        <button mat-list-item routerLink="/admin/calibration-completion">
            <mat-icon mat-list-icon>compass_calibration</mat-icon> Calibration Completion
        </button>
        <button mat-list-item routerLink="/admin/traceablity">
            <mat-icon mat-list-icon>analytics</mat-icon> Traceablity
        </button>
        <button mat-list-item routerLink="/admin/reports">
            <mat-icon mat-list-icon>summarize</mat-icon> Reports
        </button>

        <!-- <button mat-list-item routerLink="/admin/categories">
            <mat-icon mat-list-icon>list</mat-icon> Categories
        </button>
        <button mat-list-item routerLink="/admin/add-category">
            <mat-icon mat-list-icon>category</mat-icon> Add Category
        </button>
        <button mat-list-item routerLink="/admin/quizzes">
            <mat-icon mat-list-icon>quiz</mat-icon> Quizzes
        </button>
        <button mat-list-item routerLink="/admin/add-quiz">
            <mat-icon mat-list-icon>quiz</mat-icon> Add Quiz
        </button> -->

    </mat-action-list>
</mat-card>